@import './components/utils/fonts';
@import './base';
@import './components/utils/utils';

address {
  font-style: normal;
}

:root {
  --backround: #2378c9;
  --white: #ffffff;
  --title-color: #302d2d;
  --hero-backround: #0e6eaa;
}

@import './components/header';
@import './components/hero';
@import './components/services';
@import './components/advantages';
@import './components/specialists';
@import './components/price';
@import './components/blog';
@import './components/reviews';



/* section-9 */
.section-9 {
  /* padding-top: 117px;
  padding-bottom: 117px; */
  background: linear-gradient(
    258deg,
    #dfeefc 11.01%,
    rgba(167, 210, 251, 0.92) 92.77%
  );
}

.form {
  margin-right: 128px;
  max-width: 425px;
  height: 474px;
  /* padding-top: 56px;
  padding-bottom: 56px; */
  padding: 56px 48px;

  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 8px 2px rgba(108, 108, 108, 0.25);
}

form h2 {
  margin-bottom: 29px;
  color: #302d2d;

  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

input {
  margin-bottom: 20px;
  width: 100%;
  padding: 19px 22px;
  border-radius: 10px;
  border: 1px solid #e4e4e4;

  background: #fff;
}

form button {
  padding: 19px 80px;
  margin-bottom: 20px;
  border-radius: 29.5px;
  background: #5eb8f0;
  border: none;

  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}

form p {
  margin: 0 auto;
  /* margin-bottom: 0; */
  max-width: 280px;
  /* height: 47px; */
  color: #747474;

  /* text-align: center; */
  font-size: 14px;
  font-weight: 400;
}

.section-9-wapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* footer section */
.footer {
  background: #10406f;
  padding-top: 68px;
  padding-bottom: 62px;
}

.address-div {
  display: flex;
  gap: 12px;
}

.address-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.address-div {
  margin-bottom: 24px;
}

.address-div:last-child {
  margin-bottom: 0;
}

.footer .header__social {
  margin-top: 74px;
  margin-left: 0;
}

.footer-line {
  border-bottom: 1px solid rgba(180, 180, 180, 0.35);
}

.footer-logo {
  margin-bottom: 92px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer h3 {
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 600;
}

.footer li {
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer li:last-child {
  margin-bottom: 0;
}

.footer-botton {
  padding-top: 47px;
  padding-bottom: 37px;
  background: #10406f;
}

.footer-botton p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #c3c3c3;
  font-size: 16px;
  font-weight: 300;
}

.margin-top {
  margin-top: 74px;
  margin-left: 0;
}

/* Страница блог */

.breadcrumb {
  padding-top: 24px;
  padding-bottom: 28px;

  background-color: #dfeefc;
}

.breadcrumb__wapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.breadcrumb-link {
  color: #302d2d;
  font-size: 18px;
  font-weight: 400;
}

.section-7-blog {
  padding-top: 50px;
  padding-bottom: 116px;
}
/* section reviews */
.reviews {
  padding-top: 61px;
  background-color: #dfeefc;
}

.reviews-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.reviews-block {
  padding: 41px 164px;
  position: absolute;
  bottom: 0;
  width: 663px;
  height: 167px;
  border-radius: 50px 50px 0px 0px;
  background: linear-gradient(
    258deg,
    rgba(223, 238, 252, 0.9) 11.01%,
    rgba(167, 210, 251, 0.95) 92.77%
  );
  box-shadow: 0px 5px 8px 2px rgba(18, 17, 17, 0.13);
}

.reviews-block h3 {
  margin-bottom: 15px;
  color: #302d2d;

  text-align: center;
  font-size: 32.089px;
  font-weight: 700;
}

/* .reviews-404 {
  position: relative;
} */

.reviews-404-2 {
  position: absolute;
  left: 39.5%;
  bottom: 38%;
  width: 232px;
  height: 175px;
  background: var(
    --gradient-1,
    linear-gradient(258deg, #dfeefc 11.01%, rgba(167, 210, 251, 0.92) 92.77%)
  );

  padding: 21px 31px;
  color: #fff;

  font-size: 95px;
  font-weight: 700;
}

.reviews-link {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.reviews-link span {
  color: #302d2d;

  font-size: 24px;
  font-weight: 400;
}

.reviews-link a {
  color: #302d2d;

  font-size: 24px;
  font-weight: 400;
  text-decoration-line: underline;
}

/* service */
.service-3 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.service-image {
  margin-bottom: 35px;
  border-radius: 15px;
}

.service-time {
  margin-right: 27px;
  color: #a9a9a9;

  font-size: 14px;
  font-weight: 400;
}

.service-span {
  color: #a9a9a9;

  font-size: 14px;
  font-weight: 400;
}

.service-title {
  margin-top: 24px;
  max-width: 645px;
  margin-bottom: 35px;
  color: #302d2d;
  line-height: 1.3;

  font-size: 52px;
  font-weight: 400;
}

.service-text1 {
  max-width: 1200px;
  color: #535050;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.77;
}

.service-text2 {
  max-width: 1200px;
  color: #535050;
  font-size: 17px;
  font-weight: 400;
}

.service-b {
  color: #535050;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.77;
}

.service-3 {
  /* max-width: 1200px; */
  color: #535050;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.77;
}

.margin0 {
  margin-top: 0;
}

.border {
  border-top: 1px solid #ececec;
  /* border-bottom: 1px solid #ececec; */
  border-bottom: 1px solid #ececec;
}

.form2 {
  padding-top: 75px;
}

.form2-title {
  text-align: start;
  color: #302d2d;
  font-size: 42px;
  font-weight: 400;
}

.form2-input {
  display: block;
  max-width: 488px;
  height: 62px;
  margin-bottom: 22px;
  padding: 20px 23px;
}

.form2-textarea {
  margin-bottom: 22px;
  padding: 19px 23px;
  resize: none;
  max-width: 488px;
  height: 256px;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  background: #fff;
}

.form2-button {
  display: block;
  padding: 16px 54px;
  border-radius: 26px;
  background: #f86d6d;
  margin-bottom: 92px;
}

.center {
  display: flex;
  align-items: center;
}

.comment {
  margin: 0 auto;
}

.comment p {
  max-width: 358px;
  color: #302d2d;

  font-size: 32px;
  font-weight: 400;
}

/* service-4 */
.service-5 {
  padding-top: 62px;
  padding-bottom: 62px;
}

.service-5-center {
  display: flex;
  gap: 27px;
}

.service-5-left img {
  border-radius: 50%;
}

.service-5-right h2 {
  margin-bottom: 10px;
  color: #000;

  font-size: 18px;
  font-weight: 400;
}

.service-5-right time {
  /* margin-bottom: 12px; */
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 300;
}

.service-5-right p {
  margin-top: 12px;
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.service-5-right span {
  color: #f86d6d;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}

/* contact */
.breadcrumb3 {
  padding-top: 67px;
  padding-bottom: 67px;
}

.breadcrumb3-title {
  margin-bottom: 48px;
  text-align: center;
  color: #302d2d;
  font-size: 52px;
  font-weight: 400;
}

.breaadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.breaadcrumb-list li {
  width: 284px;
  height: 288px;
  text-align: center;
  padding-top: 60px;
  /* padding: 60px 48px; */
  /* padding-top: 60px;
  padding-bottom: 60px; */
  background-color: #29a9f9;
  border-radius: 5px;
}

.breaadcrumb-list li:hover {
  background: #328dc6;
}

.breaadcrumb-list li svg {
  margin-bottom: 22px;
}

.breaadcrumb-list li h3 {
  color: #fff;

  font-size: 19px;
  font-weight: 700;
  margin-bottom: 6px;
}

.breaadcrumb-list li a {
  color: #fff;

  font-size: 18px;
  font-weight: 400;
}

.breaadcrumb-social {
  display: flex;
  justify-content: center;
  gap: 31px;
  margin-top: 22px;
}

.form3 {
  margin: 0 auto;
  max-width: 561px;
}

.form3-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 54px;
  color: #302d2d;
  font-size: 42px;
  font-weight: 400;
}

.form3-textarea {
  width: 100%;

  margin-bottom: 22px;
  padding: 19px 23px;
  resize: none;
  /* max-width: 488px; */
  height: 256px;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  background: #fff;
}

.form3-button {
  display: block;
  width: 100%;

  border-radius: 26px;
  background: #f86d6d;
}

/* section spesialist */

.specialist {
  padding-top: 71px;
  padding-bottom: 71px;
}

.specialist-wapper {
  padding-bottom: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 65px;
}

.specialist-image {
  max-width: 432px;
}

.specialist-title {
  margin-bottom: 32px;
  color: #302d2d;
  font-size: 52px;
  font-weight: 400;
}

.specialist-title2 {
  margin-bottom: 16px;
  color: #56565e;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.77; /* 39.644px */
}

.specialist-text {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  color: #56565e;

  font-size: 17px;
  font-weight: 400;
  line-height: 1.77;
  list-style: inside;
}

.spesialist-title3 {
  margin-top: 32px;
  margin-bottom: 18px;
  color: #56565e;

  font-size: 19px;
  font-weight: 700;
  line-height: 1.77; /* 34.238px */
}

.spesialist-item {
  color: #56565e;

  font-size: 19px;
  font-weight: 400;
  line-height: 1.77; /* 34.238px */
  list-style: inside;
}

.specialist-title3 {
  color: #56565e;

  font-size: 19px;
  font-weight: 700;
  line-height: 1.77; /* 34.238px */
}

.spesialist-text2 {
  margin-top: 18px;
  color: #56565e;

  font-size: 19px;
  font-weight: 400;
  line-height: 1.77; /* 34.238px */
}

.spesialist-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 21px;
  border-radius: 5px;
}

.spesialist-list li {
  padding-top: 75px;
  padding-bottom: 75px;
  width: 385px;
  height: 288px;
  background: #29a9f9;
}

.specialist-list h3 {
  margin-top: 22px;
}
