@import './components/utils/fonts';
@import './base';
@import './components/utils/utils';

address {
  font-style: normal;
}

:root {
  --backround: #2378c9;
  --white: #ffffff;
  --title-color: #302d2d;
  --hero-backround: #0e6eaa;
}

// home-page 1
@import './components/home-page/header';
@import './components/home-page/hero';
@import './components/home-page/services';
@import './components/home-page/advantages';
@import './components/home-page/specialists';
@import './components/home-page/price';
@import './components/home-page/blog';
@import './components/home-page/reviews';
@import './components/home-page/form';
@import './components/home-page/footer';

// service-page 2
@import './components/service-page/service-page';

// spesialist-page 3
@import './components/spesialist-page/spesialist-page';

// reviews-page 4
@import './components/reviews-page/reviews-page';

// blog-page 5
@import './components/blog-page/breadcrumb';

// сontact-page 6
@import './components/contact-page/contact-page';

@import './components/modal';




