/* section-4 */
.advantages {
  padding-top: 119px;
  padding-bottom: 100px;
  background-color: #dfeefc;

  @media screen and (max-width: 768px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.advantages svg {
  background-color: #2378c9;
  border: 3px solid #67a9e9;
  border-radius: 50%;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  text-align: center;
  justify-content: space-around;

  @media screen and (max-width: 768px) {
    gap: 61px;
  }
}

.advantages__list-title {
  margin-top: 25px;
  width: 310px;

  color: var(--title-color);
  text-align: center;
  font-size: 24px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 600;
  }
}

.advantages__list-text {
  max-width: 326px;
  color: #56565e;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 160.2%; /* 28.836px */

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}
