/* footer section */
.footer {
  background: #10406f;
      // background: linear-gradient(258deg, #dfeefc 11.01%, rgba(167, 210, 251, 0.92) 92.77%);
  padding-top: 68px;
  padding-bottom: 62px;

  @media screen and (max-width: 768px) {
    text-align: center;
    padding-top: 41px;
    padding-bottom: 34px;
  }
}

.address-div {
  display: flex;
  gap: 12px;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.address-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.address-div {
  margin-bottom: 24px;
}

.address-div:last-child {
  margin-bottom: 0;
}

.footer .header__social {
  margin-top: 74px;
  margin-left: 0;
}

.footer-line {
  border-bottom: 1px solid rgba(180, 180, 180, 0.35);
}

.footer-logo {
  margin-bottom: 92px;

  @media screen and (max-width: 768px) {
    margin-bottom: 64px;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.footer h3 {
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 600;

  @media screen and (max-width: 768px) {
    margin-top: 61px;
    text-align: center;
  }
}

.footer li {
  color: #e0e0e0;
  // color: #d6dfed;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.footer li:last-child {
  margin-bottom: 0;
}

.footer-botton {
  padding-top: 47px;
  padding-bottom: 37px;
  background: #10406f;

  @media screen and (max-width: 768px) {
    padding-top: 27px;
    padding-bottom: 29px;
  }
}

.footer-botton p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #c3c3c3;
  // color: #d6dfed;
  font-size: 16px;
  font-weight: 300;
}

.margin-top {
  margin-top: 74px;
  margin-left: 0;

  @media screen and (max-width: 768px) {
    margin-top: 52px;
    justify-content: center;
  }
}

.footer-services {
  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
}

// footer {
//   position: relative;
// }


// .footer__backround {
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }

// html,
// body {
//   height: 100%;
// }

// .footer__animate {
// position: relative;
// }

// footer {
//   position: relative;
// }

// .background {
//    position: absolute;
//   left: 0;
//   // bottom: 12px;
//   bottom: 0;
//   display: flex;
//   width: 100%;
//   height: 370px;
// }

// footer .background svg {
//  position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   transform: scaleY(3) scaleX(2.25);
//   transform-origin: bottom;
//   box-sizing: border-box;
//   display: block;
//   pointer-events: none;
// }