/* header section */

.backround {
  background-color: var(--backround);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.address__left {
  display: flex;
  align-items: center;
  gap: 14px;

  @media screen and (max-width: 768px) {
    gap: 7px;
  }
}

.address__left a {
  color: var(--white);
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 17px;

  @media screen and (max-width: 768px) {
    font-size: 9px;
  }
}

.address__right {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // padding-top: 50px;
    // display: none;
    // display: block;
    display: none;
  }
}

.address__right a {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.address__right a:first-child {
  margin-left: 40px;
}

.address__right svg {
  margin-right: 11px;
}

.header-social {
  display: flex;
  gap: 31px;
  margin-left: 55px;

  // @media screen and (max-width: 768px) {
  //   margin-left: 0;
  // }
}

.header-social svg {
  margin-right: 0;
}

.header-social li:hover {
  transition: 500ms ease;
  transform: rotate(360deg);
}

.margin-right {
  margin-right: 40px;

  // @media screen and (max-width: 768px) {
  //   margin-right: 0;
  // }
}

.header__botton {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.btn {
  display: block;
  // display: inline-flex;
  padding: 17px 29px;
  border: none;
  background-color: #f86d6d;
  border-radius: 26px;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    padding: 8px 15px;
    font-size: 8px;
  }
}

.btn:hover {
  background-color: #5eb8f0;
}

.header-menu {
  display: flex;
  gap: 39px;

  @media screen and (max-width: 768px) {
    padding-top: 40px;
    // display: none;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
}

.header-menu li a {
  padding-top: 7px;
  padding-bottom: 7px;

  color: var(--title-color);

  font-size: 18px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    color: #fff;
  }
}

.header-menu li a:hover {
  /* padding: 5px; */
  color: #5eb8f0;
  /* border: 1px solid black; */
}

.header-menu li a.current {
  color: #5eb8f0;
}

.header-burger {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.address__left svg {
  @media screen and (max-width: 768px) {
    width: 12px;
    height: 12px;
  }
}

.header__botton a img {
   @media screen and (max-width: 768px) {
    width: 60%;
  }
}