/* section spesialist */
.specialist {
  padding-top: 71px;
  padding-bottom: 71px;
}

.specialist-wapper {
  padding-bottom: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 65px;
}

.specialist-image {
  max-width: 432px;
}

.specialist-title {
  margin-bottom: 32px;
  color: #302d2d;
  font-size: 52px;
  font-weight: 400;
}

.specialist-title2 {
  margin-bottom: 16px;
  color: #56565e;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.77; /* 39.644px */
}

.specialist-text {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  color: #56565e;

  font-size: 17px;
  font-weight: 400;
  line-height: 1.77;
  list-style: inside;
}

.spesialist-title3 {
  margin-top: 32px;
  margin-bottom: 18px;
  color: #56565e;

  font-size: 19px;
  font-weight: 700;
  line-height: 1.77; /* 34.238px */
}

.spesialist-item {
  color: #56565e;

  font-size: 19px;
  font-weight: 400;
  line-height: 1.77; /* 34.238px */
  list-style: inside;
}

.specialist-title3 {
  color: #56565e;

  font-size: 19px;
  font-weight: 700;
  line-height: 1.77; /* 34.238px */
}

.spesialist-text2 {
  margin-top: 18px;
  color: #56565e;

  font-size: 19px;
  font-weight: 400;
  line-height: 1.77; /* 34.238px */
}

.spesialist-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 21px;
  border-radius: 5px;
}

.spesialist-link {
    color: #FFF;
font-size: 18px;
font-weight: 400;
}

.spesialist-list li:hover {
background: #54A0CF;
}

.spesialist-list li {
  padding-top: 75px;
  padding-bottom: 75px;
  width: 385px;
  height: 288px;
  background: #29a9f9;
}

.specialist-list h3 {
  margin-top: 22px;
}
