/* Страница блог */
.breadcrumb {
  padding-top: 24px;
  padding-bottom: 28px;

  background-color: #dfeefc;

  @media screen and (max-width: 768px) {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.breadcrumb__wapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.breadcrumb__wapper svg {
  @media screen and (max-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.breadcrumb-link {
  color: #302d2d;
  font-size: 18px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    font-size: 9px;
  }
}

.section-7-blog {
  padding-top: 50px;
  padding-bottom: 116px;

  @media screen and (max-width: 768px) {
    padding-top: 24px;
    padding-bottom: 45px;
  }
}
