.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: scroll;
  // opacity: 1;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // чтоб не прокручивалась модалька
  // overflow-y: scroll;
}

// .backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
// }

// .backdrop.is-hidden .modal {
//   transform: translate(-50% -50%) scale(1.1);
// }

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 100%;
  max-width: 431px;
  height: auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 8px 2px rgba(108, 108, 108, 0.25);

  transform: translate(-50% -50%) scale(1);
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 19px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 34px;
  z-index: 101;
}

.modal-button {
  display: block;
  margin-left: auto;

  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
}

.form-modal button {
  display: block;
  width: 100%;
}

form-modal h2 {
  color: #302d2d;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.form-modal p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  max-width: 280px;
  height: auto;
}

.modal svg {
  margin-bottom: 28px;
  fill: #f0dfdf;
}

.modal svg:hover {
  fill: #5eb8f0;
}

.backdrop.is-hidden {
  opacity: 0;
  /* прозрачность и спрятать модуалку */
  pointer-events: none;
  /* пропускать через модалку события */
}

// .backdrop.is-hidden .form {
//   transform: translate(-50%, -50%) scale(0.9);
// }
.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header {
  position: relative;
}

.menu-container {
  text-align: center;
  padding: 10px 20px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: palegoldenrod;
  box-shadow: -2px 4px 4px 3px rgba(49, 46, 46, 0.09);

  &.is-open {
    display: block;
  }
}

.menu-container.is-open {
  display: block;
}

.icon-menu {
  position: relative;
  fill: #fff;
  z-index: 77;
}

.menu-container-title {
  margin-bottom: 0;
  padding-bottom: 15px;
  color: #fff;

  font-size: 22px;
  font-weight: 400;
}
